{% extends 'base.html' %}

{% block body %}
<div class="content">
    <h1>Check whether you're Diabetic</h1>
    <h3>Only for Women!</h3>
    <br>


    <form action="/" method="POST">
        <div class="input">

            <label for="pregnancies">Number of Pregnancies</label>
            <input type="number" min="0" step="any" name="pregnancy" id="pregnancies" placeholder="eg. 1,2,3..."
                autofocus="autofocus" required>


            <label for="glucose">Glucose level</label> <input type="number" min="0" step="any" name="glucose"
                id="glucose" placeholder="eg. 173" required>

            <label for="bp">Blood Pressure (mm Hg)</label> <input type="number" min="0" step="any" name="bp" id="bp"
                placeholder="eg. 64" required>

            <label for="skin">Skin Thickness (mm)</label> <input type="number" min="0" step="any" name="skin" id="skin"
                placeholder="eg. 35" required>

            <label for="insulin">Insulin (muU/ml)</label> <input type="number" min="0" step="any" name="insulin"
                id="insulin" placeholder="eg. 158" required>

            <label for="BMI">Body mass Index (BMI)</label> <input type="number" min="0" step="any" name="BMI" id="BMI"
                placeholder="eg 34.9" required>

            <label for="dbf">Diabetes Pedigree Function</label> <input type="number" min="0" step="any" name="dbf"
                id="dbf" placeholder="eg. 0.545" required>

            <label for="Age">Age (years)</label> <input type="number" min="0" step="any" name="Age" id="Age"
                placeholder="Age" required>

        </div>
        <br>
        <br>
        <input type="submit" value="CHECK" class="submit">

        <div class="final">
            <p class="result">
            <h2>
                RESULT : {{ msg }}
                <br>

            </h2>
            <h3 id="msg">{{ AccuracyMsg }}</h3>
            </p>
        </div>
    </form>
</div>


{% endblock %}